<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>FlaskBlog</title>
    </head>
<body>
   <h1> Landing page </h1>
   This page will contain all o fthe information and hopfully a way of displaying an interactive devlog for this project
   <form action="open-dashboard" method="post">
   <button id="button-dashboard">Dashboard</button>
   </form>
   <div id="div-devlog"> TODO DEVLOG...</div>
</body>  
</html>