h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body {
    min-height: 100vh;
  }

/* SIDEBAR POSITION */
.sidebar {
background-color: #f1f1f1;
height: 100vh;
position: fixed;
top: 0;
right: 0;
min-width: 300px;
}
.sidebar__content {
padding: 8px;
overflow-y: scroll;
overflow-x: hidden;
}

/* SIDEBAR HIDDEN STATE */
.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(100%);
}

/* SIDEBAR VISIBLE STATE */
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}